@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <form>
        <label>Username</label>
        <input required>
        <button asp-controller="Home" asp-action="Privacy">Login</button>

    </form>
</div>
