@* @model Models.Movie; *@

@{
    ViewData["Title"] = "Index";

}

<h1>@Model</h1>

<p>
    
    <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-secondary">Back</button></a>
</p>
<div>
    
</div>
